################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RC/.vs/RC/v16/Server/sqlite3
/RC/RC.Console/bin/Debug
/RC/RC.Console/obj/Debug
/RC/.vs/RC/v15/Server/sqlite3/storage.ide-wal
/RC/.vs/RC/v15/Server/sqlite3/storage.ide-shm
/RC/.vs/RC/v15/Server/sqlite3/storage.ide
/RC/.vs/RC/v15/Server/sqlite3/db.lock
/RC/.vs/RC/v15/.suo
/RC/RC.Console/bin/Release
/RC/RC.Console/bin/x64
/RC/RC.Bowser/bin/Debug/netcoreapp3.0
/RC/RC.Bowser/obj
/RC/RC.Common/bin/Debug
/RC/RC.Common/obj
/RC/RC.Console/obj/x64/Debug
/RC/RC.Logic/bin/Debug
/RC/RC.Logic/obj
