################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RC/.vs/RC/v16/Server/sqlite3
