################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RC/.vs/RC/v16/Server/sqlite3
/RC/RC.Console/bin/Debug
/RC/RC.Console/obj/Debug
