@{
    ViewData["Title"] = "Home Page";
}

@*@section Scripts {
        <script src="~/Scripts/file.js"></script>
    }*@

<style type="text/css">
    #myVideoOverlay {
        width: 640px;
        height: 480px;
        position: relative;
        top: -480px;
        z-index: 100;
    }
    #divSegments canvas {
        border: 2px solid red;
    }
    .cube-side tr td input{
        text-align:center;
    }
</style>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="row row-no-gutters">
    <div class="col-lg-6">
        <br /><video autoplay="true" id="myVideo">
        </video>
        <br /><img src="~/images/CubeOverlay.png" id="myVideoOverlay">
    </div>
    <div class="col-lg-6">
        <canvas id="cvsLive" width="640" height="480">
        </canvas>

        <div id="divSegments"></div>
    </div>
</div>
<div>[X:<label id="lblWidth"></label>]</div>
<div>[Y:<label id="lblHeight"></label>]</div>

<div id="container">

    <div class="insideWrapper">

    </div>

    <input width="200" id="txtConfiguration" type="text" />

    <div>
        <button id="btnConfiguration">&darr;</button>

        <button id="btnCubeConfiguration">&uarr;</button>
    </div>

    <table>
        <tr>
            <td>
            </td>
            <td>
                <table class="cube-side" id="side-input-py">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-top-back-left" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-back-center" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-back-right" value="W" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-top-center-left" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-center-center" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-center-right" value="W" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-top-front-left" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-front-center" value="W" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-top-front-right" value="W" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <table class="cube-side" id="side-input-nx">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-left-top-back"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-top-center"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-top-front"  value="R" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-left-center-back"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-center-center"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-center-front"  value="R" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-left-bottom-back"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-bottom-center"  value="R" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-left-bottom-front"  value="R" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-input-pz">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-front-top-left"  value="B" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-top-center"  value="B" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-top-right"  value="B" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-front-center-left"  value="B" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-center-center"  value="B"/>
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-center-right"  value="B" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-front-bottom-left"  value="B" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-bottom-center"  value="B" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-front-bottom-right"  value="B" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-input-px">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-right-top-front" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-top-center" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-top-back" value="O" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-right-center-front" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-center-center" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-center-back" value="O" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-right-bottom-front" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-bottom-center" value="O" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-right-bottom-back" value="O" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-input-nz">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-back-top-left" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-top-center" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-top-right" value="G" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-back-center-left" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-center-center" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-center-right" value="G" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-back-bottom-left" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-bottom-center" value="G" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-back-bottom-right" value="G" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <table class="cube-side" id="side-input-ny">
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-bottom-front-left" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-front-center" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-front-right" value="Y" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-bottom-center-left" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-center-center" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-center-right" value="Y" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="1" id="input-bottom-back-left" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-back-center" value="Y" />
                        </td>
                        <td>
                            <input type="text" size="1" id="input-bottom-back-right" value="Y" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
            </td>
            <td>
                <table class="cube-side" id="side-py">
                    <tr>
                        <td id="sticker-top-back-left">
                            TBL
                        </td>
                        <td id="sticker-top-back-center">
                            TBC
                        </td>
                        <td id="sticker-top-back-right">
                            TBR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-top-center-left">
                            TCL
                        </td>
                        <td id="sticker-top-center-center">
                            TCC
                        </td>
                        <td id="sticker-top-center-right">
                            TCR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-top-front-left">
                            TFL
                        </td>
                        <td id="sticker-top-front-center">
                            TFC
                        </td>
                        <td id="sticker-top-front-right">
                            TFR
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <table class="cube-side" id="side-nx">
                    <tr>
                        <td id="sticker-left-top-back">
                            LTB
                        </td>
                        <td id="sticker-left-top-center">
                            LTC
                        </td>
                        <td id="sticker-left-top-front">
                            LTF
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-left-center-back">
                            LCB
                        </td>
                        <td id="sticker-left-center-center">
                            LCC
                        </td>
                        <td id="sticker-left-center-front">
                            LCF
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-left-bottom-back">
                            LBB
                        </td>
                        <td id="sticker-left-bottom-center">
                            LBC
                        </td>
                        <td id="sticker-left-bottom-front">
                            LBF
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-pz">
                    <tr>
                        <td id="sticker-front-top-left">
                            FTL
                        </td>
                        <td id="sticker-front-top-center">
                            FTC
                        </td>
                        <td id="sticker-front-top-right">
                            FTR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-front-center-left">
                            FCL
                        </td>
                        <td id="sticker-front-center-center">
                            FCC
                        </td>
                        <td id="sticker-front-center-right">
                            FCR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-front-bottom-left">
                            FBL
                        </td>
                        <td id="sticker-front-bottom-center">
                            FBC
                        </td>
                        <td id="sticker-front-bottom-right">
                            FBR
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-px">
                    <tr>
                        <td id="sticker-right-top-front">
                            RTF
                        </td>
                        <td id="sticker-right-top-center">
                            RTC
                        </td>
                        <td id="sticker-right-top-back">
                            RTB
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-right-center-front">
                            RCF
                        </td>
                        <td id="sticker-right-center-center">
                            RCC
                        </td>
                        <td id="sticker-right-center-back">
                            RCB
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-right-bottom-front">
                            RBF
                        </td>
                        <td id="sticker-right-bottom-center">
                            RBC
                        </td>
                        <td id="sticker-right-bottom-back">
                            RBB
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="cube-side" id="side-nz">
                    <tr>
                        <td id="sticker-back-top-left">
                            BTL
                        </td>
                        <td id="sticker-back-top-center">
                            BTC
                        </td>
                        <td id="sticker-back-top-right">
                            BTR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-back-center-left">
                            BCL
                        </td>
                        <td id="sticker-back-center-center">
                            BCC
                        </td>
                        <td id="sticker-back-center-right">
                            BCR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-back-bottom-left">
                            BBL
                        </td>
                        <td id="sticker-back-bottom-center">
                            BBC
                        </td>
                        <td id="sticker-back-bottom-right">
                            BBR
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <table class="cube-side" id="side-ny">
                    <tr>
                        <td id="sticker-bottom-front-left">
                            BFL
                        </td>
                        <td id="sticker-bottom-front-center">
                            BFC
                        </td>
                        <td id="sticker-bottom-front-right">
                            BFR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-bottom-center-left">
                            BCL
                        </td>
                        <td id="sticker-bottom-center-center">
                            BCC
                        </td>
                        <td id="sticker-bottom-center-right">
                            BCR
                        </td>
                    </tr>
                    <tr>
                        <td id="sticker-bottom-back-left">
                            BBL
                        </td>
                        <td id="sticker-bottom-back-center">
                            BBC
                        </td>
                        <td id="sticker-bottom-back-right">
                            BBR
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>


    <label id="lblData"></label>
</div>


