<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Whatever" connectionString="data source=localhost;initial catalog=Whatever;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>